body {
  font-family: "Open Sans", sans-serif;
  background-color: rgb(81, 75, 75);
}
body::-webkit-scrollbar {
  display: none;
}
/* #container {
  display: flex;
  width: 100%;
  height: fit-content;
  padding: 20px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));

  margin: 20px auto;
} */
#calculator {
  max-width: 320px;
  width: 340px;
  height: 600px;
  background-color: #eaedef;
  margin: auto;
  padding: 10px;
  top: 37px;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#result {
  height: 120px;
  border-width: 2px;
  border-color: black;
  border-radius: 5px;
  background-color: #c2c7cb;
  font-size: fit-content;
  overflow: scroll;
}

#history {
  text-align: right;
  height: 20px;
  margin: 0 20px;
  padding-top: 20px;
  font-size: 15px;
  color: #919191;
}
#result::-webkit-scrollbar {
  display: none;
}
#history::-webkit-scrollbar {
  display: none;
}
#output {
  text-align: right;
  height: 60px;
  margin: 10px 20px;
  font-size: 30px;
}
#keyboard {
  height: 450px;
  background-color: #eaedef;
}
.operator,
.number,
.empty {
  width: 50px;
  height: 50px;
  margin: 15px;
  float: left;
  border-radius: 50%;
  border-width: 0;
  font-weight: bold;
  font-size: 15px;
}
.number,
.empty {
  background-color: #eaedef;
}
.number,
.operator {
  cursor: pointer;
}
.operator:active,
.number:active {
  font-size: 13px;
}
.operator:focus,
.number:focus,
.empty:focus {
  outline: 0;
}
button:nth-child(4) {
  font-size: 20px;
  background-color: #20b2aa;
}
button:nth-child(8) {
  font-size: 20px;
  background-color: #ffa500;
}
button:nth-child(12) {
  font-size: 20px;
  background-color: #f08080;
}
button:nth-child(16) {
  font-size: 20px;
  background-color: #7d93e0;
}
button:nth-child(20) {
  font-size: 20px;
  background-color: #9477af;
}

.copyright p {
  margin-top: 1.2rem;
  color: #ffffff;
  text-align: center;
  font-size: 0.9rem;
}

.copyright h5 {
  margin-bottom: 1.2rem;
  margin-top: 1rem;
  text-align: center;
  font-size: 1.1rem;
}
